.div-edit-vehicle {
    padding-left: 40%;
    padding-top: 5%;

    .vehicle-form {
        width: 100%;

        button {
            margin-top: 2%;
            margin-right: 2%; 
        }
    }

    .vehicle-full-width {
        width: 25%;
    }
}